body {
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
  padding-top: 20px;}

.dashboard {
    max-width: 95%;
    margin: 20px auto;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #0072ff;
    margin-bottom: 30px;
}

.tabela-container {
    width: 100%;
    overflow-x: auto;
    border-radius: 10px;
    margin: 0 auto;
    border: 2px solid #c9caca;
}


table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    font-size: 15px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    min-width: 1200px;
    
}

th {
    word-break: break-word;
    white-space: normal;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinha tudo à esquerda */
  gap: 16px; /* Espaço entre título e foto */
  margin-bottom: 20px;
}


th, td {
    padding: 15px 20px;
    border-bottom: 2px solid #c9caca;
    border-right: #c9caca 2px solid;
    text-align: left;
}

th {
    background-color: #0072ff;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    white-space: nowrap;  /* NÃO quebra o texto */
    border-right: 1px solid #fff;
}


tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #1569a1;
    transform: scale(1.005);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
}

tr:hover td {
    color: #fff;
}
tr:hover th {
    color: #fff;
}

tr:last-child td {
    border-bottom: none;
}

/* Melhorias para dispositivos menores */
@media (max-width: 768px) {
    .dashboard {
        padding: 20px;
    }
    
    th, td {
        padding: 12px 15px;
    }
}

.filtro-container {
    text-align: center;
    margin-bottom: 20px;
}

#filtro-empresa {
    padding: 10px 15px;
    width: 300px;
    font-size: 16px;
    border: 2px solid #0072ff;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

#filtro-empresa:focus {
    border-color: #005bb5;
    box-shadow: 0 0 5px rgba(0, 114, 255, 0.5);
}

.sugestoes {
    position: relative;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    width: 300px;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.sugestao-item {
    padding: 10px;
    cursor: pointer;
}

.sugestao-item:hover {
    background-color: #e3eeff;
}
